{% extends "base.html" %}
{% block title %}Expense page {% endblock %}
{% block link %} {% endblock %}
{% block content %}

    <!-- Jumbotron -->
    <section class="jumbotron text-center">
        <div class="container">
            <h2 class="jumbotron-heading">Add New Expense</h2>
        </br>
        </div>
    </section>

    <div class="container content-section">
        <form method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {{ form.title(class="form-control form-control") }}
                </div>
            </br>
                <div class="form-group">
                    {{ form.category.label(class="form-control-label") }}
                    {{ form.category(class="form-control form-control") }}
                </div>
            </br>
                <div class="form-group">
                    {{ form.amount.label(class="form-control-label") }}
                    {{ form.amount(class="form-control form-control") }}
                </div>
            </br>
                <div class="form-group">
                    {{ form.date.label(class="form-control-label") }}
                    {{ form.date(class="form-control form-control") }}
                </div>
            </br>
            </fieldset>
        </br>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary m-3") }}
            </div>
        </form>
    </div>
    

{% endblock %}